.p2 {
	padding: 26px 40px;
	font-size: 25px;
}


.p1 {
	padding: 26px 40px;
	font-size: 25px;
}

.p3 {
	padding: 26px 40px;
	font-size: 25px;
}

.p0 {
	padding:26px 40px ;
	font-size: 45px;
	font-weight: bold;
	
}

a {
	padding: 26px 40px;
	font-size: 25px;
}
